[Unit]
Description=Stop Intel throttling 

[Service]
Type=simple
ExecStart=/usr/bin/lenovo_throttling_fix
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
